/* -------------- Body -------------- */
body {
    font-family : "Montserrat", sans-serif;
    font-optical-sizing : auto;
    font-weight : 100;
    font-style : normal;
}

/* -------------- Header -------------- */
header {
    background-color: #F5F5F7 !important;
    color: black; 
}
.bg-body-tertiary {
    background-color: #F5F5F7 !important;

}
.navbar-toggler:focus{ 
    outline: unset;
    border: unset;
    box-shadow: none;
}
.dropdown-item:hover {
    background-color: #F5F5F7;
}
.dropdown-item:focus {
    background-color:#AF7357;
}
.navbar-nav .nav-item:hover .nav-link {
    color: #AF7357;
}
.navbar-nav .nav-item .nav-link {
    color: black;
}
.dropdown-toggle::after, .dropdown-toggle::before {
    border-top-color: #ABABAB;
}

/* -------------- Footer -------------- */
footer {
    background-color: black;
    color: white; 
}
footer a {
    color : white !important;
}
footer a:hover {
    color : #AF7357 !important;
}

/* -------------- Bouton -------------- */

.btn-dark:hover {
    background-color: #ABABAB !important;
    border-color: #ABABAB !important;
    color: white;
}

/* -------------- Séparateur -------------- */

.brown-box {
    background-color: #AF7357 !important;
    height: 10px;
}